---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import PostList from "../components/PostList.astro";
import Main from "../components/Main.astro";
import H1 from "../components/H1.astro";
import Paganation from "../components/Paganation.astro";

const posts = (await getCollection("posts")).slice(0, 6);
// console.log('blog', posts);

---
<!-- <pre>{JSON.stringify(posts, null, 2)}</pre> -->

<Layout title="blog" >
  <Main>
    <H1 title="这是博客页面" />
    <p class="mb-12">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta assumenda quibusdam dignissimos molestias, at consequuntur inventore nihil exercitationem nisi dolorem dicta necessitatibus odio itaque delectus adipisci. Quidem optio ab odit.</p>
  <!-- 文章列表 -->
  <PostList posts={posts} />
  <div class="mt-12">
        <Paganation nextURL="/blog/2" />
    </div>
  </Main>
</Layout>
